<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/styles.css">
   <title>Freedom Wall</title>
</head>
<body>
   <div id="app">
      <header>
         <div class="title">Freedom Wall</div>
         <p>Share your thoughts</p>
         <div class="compose-btn">Compose</div>
         <div class="modal">
            <div class="title">Compose <i class="fa fa-close"></i></div>
            
            <form action="/" method="POST">
               <input type="text" name="name" id="name" placeholder="Your name" required>
               <textarea name="msg" id="msg" rows="7" placeholder="Your thoughts" required></textarea>
               <input type="submit" id="submit" value="Post">
            </form>
         </div>
      </header>
      <div class="posts">
         <div class="title">Thoughts</div>

         <div class="container">
            <% if (posts.length > 0) { %>
               <% let num = 1 %>
               <% posts.forEach(post => { %>
                  <div class="userpost">
                        <div class="username"><%= post.name %></div>
                        <div class="connect"><div class="a">a</div></div>
                        <p class="usermsg"><%= post.msg %></p>
                        <div class="interact">
                           

                           <div class="like">
                              <i class='fa fa-thumbs-o-up'></i>
                              <div class="num" id="like-num"><%= num %></div>
                           </div>
                           <div class="unlike">
                              <i class='fa fa-thumbs-o-down'></i>
                              <div class="num" id="unlike-num"><%= num %></div>
                           </div>
                           <div class="comment">
                              <p>Comment</p>
                           </div>
                        </div>
                  </div>
                  <% num++ %>
               <% }) %>

            <% } else { %>
               <h3>No Post</h3>
            <% } %>

            <div class="footer">
               <p>built by christianparanas</p>
            </div>
         </div>
      </div>
   </div>


   <script src="/script.js"></script>
</body>
</html>